
@media all and (max-width: 1000px) {

  .top-wrapper h1 {
    font-size: 32px;
  }

  .subscribe{
    width: 50%;
  }

  .contact-form{
    width:100%;
  }
   .button_cont{
    width:50%;
  }
}

@media all and (max-width: 670px) {

  .subscribe {
    width: 50%;
  }
  .button_cont{
    width:50%;
  }
  
  .contact-form{
    width:100%;
  }
  .top-wrapper {
    text-align: left;
    padding-top:130px;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
